<h1>Application form for Members</h1>
<form action="" method="post" class="admin-application">
    <div class="form-field">
        <label for="admin">Are you an admin?</label>
        <select name="admin" id="admin">
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>
    <button type="submit">Submit</button>
</form>