<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h3>Welcome <%= user.firstName%></h3>
    <% if (user.member) { %>
    <form action="" method="post" class="form">
      <label for="message">Your message:</label>
      <input
        type="textbox"
        name="message"
        id="message"
        placeholder="Write something nice."
      />
      <button type="submit">SEND</button>
    </form>
    <% } else{ %>
    <form action="" method="post" class="form">
      <p>Do you want to become a member?</p>
      <label for="secret">Enter the secret passcode:</label>
      <input type="password" name="secret" id="secret" />
      <button type="submit">Submit</button>
    </form>
    <% } %>
    <a href="/log-out">LOG OUT</a>
  </body>
</html>
