<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <form action="" method="post" class="form">
        <p>Do you want to become member?</p>
        <label for="secret">Enter the secret passcode:</label>
        <input type="password" name="secret" id="secret">
        <button type="submit">Submit</button>
    </form>
    <a href="/log-out">LOG OUT</a>
</body>
</html>