<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
  </head>
  <body>
    <h1>Log In</h1>
    <p>Please enter your log in information:</p>

    <form action="/log-in" method="POST" class="form">
      <div class="form-field">
        <label for="username">Username/Email</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="user@name.com"
        />
      </div>
      <div class="form-field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <button>Log In</button>
    </form>
  </body>
</html>
