<h1>Application form for Members</h1>
<form action="" method="post" class="member-application">
    <div class="form-field">
        <label for="member">Enter the special member passcode:</label>
        <input type="text" id="member" name="member">
    </div>
    <button type="submit">Submit</button>
</form>