<h1>Registration</h1>
<form action="" method="post" class="form">
    <div class="form-field">
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" id="firstName">
    </div>
    <div class="form-field">
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" id="lastName">
    </div>
    <div class="form-field">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email">
    </div>
    <div class="form-field">
        <label for="password">Password:</label>
        <input type="text" name="password" id="password">
    </div>
    <div>
        <label for="admin">Are you an admin?</label>
        <select name="admin" id="admin">
            <option>Yes</option>
            <option>No</option>
        </select>
    </div>
  </form>